.chart-wrapper {
background-color: wheat;
display: flex;
  border-radius: 16px;
  color: white;
  padding: 24px;
  max-height: 400px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.chart-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
  text-align: center;
}
