<div class="background-wrapper">
  <div class="main-content">
    <div class="center-content">
      <app-header></app-header>
      <ng-container *ngIf="isHomePage">
        <div class="buttons-container">
          <app-site-info-button></app-site-info-button>
          <app-start-button></app-start-button>
        </div>
      </ng-container>
      <router-outlet></router-outlet>
    </div>

    <ng-container *ngIf="isHomePage">
      <div class="did-you-know-container">
        <app-did-you-know></app-did-you-know>
      </div>
    </ng-container>

  </div>
</div>
