/* קונטיינר כולל: מפה + טופס */
.layout-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
   margin-top: -40px; 
  min-height: 700px; /* חשוב כדי שהתוצאה לא תיחתך */
}

/* צד ימין: טופס + תוצאה */
.form-and-result-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  max-width: 680px;
  min-width: 600px;
  gap: 10px;
}

/* טופס */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.form-horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  direction: ltr;
}

.form-field {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  flex: 1;
}

label {
  font-weight: 500;
  margin-bottom: 6px;
  color: #333;
  font-size: 14px;
}

select, input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button[type="submit"] {
  margin-top: 12px;
  padding: 10px 18px;
  background-color: #eb8825;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #d6761f;
}

/* תוצאה */
.result-wrapper {
  margin-top: 16px;
  min-height: 50px; /* מבטיח שהתוצאה תופיע ולא תיחתך */
}

.result {
  padding: 12px 20px;
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #c8e5bc;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* מפה */
.map-container {
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  position: relative;
}

app-interactive-map {
  display: block;
  height: 100%;
  width: 100%;
}
